
@media (max-width:1100px) {
    header {
        padding: 16px;
        .navbar{
            width: 100%;
        }
        .puie-nav{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .navbar-brand{
            order: 2;
            position: absolute;
            right: 32vw;
            top: 8;
        }
        .navbar-toggler{
            border: none;
            background-color: white;
        }
        .button.nvbar-togg{
            background-color: white;
        }
    }


    // Banner mobile
    
    .banner-home{
        width: 100%;
    }

    .hero{
        display: none;
        width: 100%;
        height: 700px;
        .foto-principal{
            width: 100%;
            height: 60%;
            object-fit: cover;
            position: absolute;
            top: 130px;
            left: 0;
            z-index: 200;
            background: none;
        }
        .fondo-miguel{
            width: 80%;
            height: 400px;
            object-fit: cover;
        }
    }

    .heromobile{
        margin-top: 50px;
        img{
            display: flex;
            width: 100%;
            height: 80vh;
            object-fit: cover;
        }
    }
    
    
    .industria-argentina {
        display: none;
        bottom: 80px;
        left: 1px;
        z-index: 2;
        .bandera {
            height: 12px;
            padding-left: 10px;
        }
        h5{
            font-size: 12;
        }
    }


    // Presentacion productos mobile

    #presentacionProductos {
        padding: 80px 2px;
        h2 {
            font-size: 18px;
        }
        .primario{
            padding: 8px 16px;
            border-radius: 30px;
            a {
                font-size: 14px;
            }
        }
        .fotos-presentacion-productos{
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            padding-bottom: 24px;
            .brie{
                display: none;
            }
            .foto-presentacion{
                width: 33%;
            }
        }
    }
    

    // clientes mobile 

    #clientes {
        padding: 200px 16px;
        align-items: center;
        display: flex;
        flex-direction: column;
        p {
            text-align: center;
            font-size: 20px;
            padding-bottom: 30px;
            padding-right: 20px;
            padding-left: 20px;
        }
        .clientes-logos{
            width: 98%;
            flex-wrap: wrap;
            .selva{
                display: none;
            }
            .foto-cliente {
                width: 30%;
                padding-right: 12px;
                padding-left: 12px;
                padding-bottom: 16px;
            }
        }
    }

  

    /* Seccion mayoristas-sobre nosotros mobile */

    #sobreNosotrosSection {
        flex-direction: column;
        width: 100%;
        .img-sobre-nosotros {
            width: 100%;
            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
        }
    }

    #mayoristaSection {
        flex-direction: column;
        .img-mayorista-home {
            width: 100%;
            order: 1;
            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
        }
    }
    

    .nosotros-mayoristas {
        order: 2;
        width: 100%;
        background-color: white;
        h2 {
            margin-top: 50px;
            background-color: white;
            padding-bottom: 30px;
        }
        p {
            background-color: white;
            padding: 6px 20px;
            font-size: 16px;
            line-height: 1.5;
        }
        button {
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }
    
    
    /* Arte mobile */

    #arte {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-right: 40px;
        padding-left: 40px;
        .contenedor-bloque-arte{
            display: flex;
            align-content: center;
            justify-content: center;
            .texto-raya{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                h2 {
                    text-align: center;
                    display: inline;
                    font-size: 22px;
                }
                .raya {
                    display: none;
                }
            }
        }
    }

    .fotomobile{
        img{
            display: flex;
            width: 100%;
            height: 70vh;
            object-fit: cover;
        }
        padding-bottom: 50px;
    }

    #mapa{
    .busca-punto-venta{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-bottom: 20px;
        margin-top: 40px;
        .boton-ver-mapa{
            display: none;
            flex-direction: row;
            color: #B3A1B2;
            padding-left: 30px;
            align-content: center;
            a{
                display: flex;
                color: #B3A1B2;
                text-decoration: none;
            }
            h6{
                display: flex;
                font-weight: 100;
                padding-right: 10px;
            }
            img{
                position: relative;
                bottom: 4px;
            }
            
        }
    }
}

    

    footer {
        display: none;
    }

    /* Productos mobile */

    .banner-productos {
        margin-top: 55px;
        height: 45%;
        object-fit: cover;
        padding-bottom: 40px;
    }
    
    #cards-productos{
        margin-left: 20px;
        margin-right: 20px;
        .container{
            .card-puie {
                margin-bottom: 30px;
                padding: 32px;    
                border-radius: 8px;
                border-style: none;
                h4 {
                    padding-bottom: 6px;
                }
                p {
                    padding-bottom: 0px;
                }
            }
        }
    }
    
    #materiaPrima {
        display: flex;
        flex-direction: column;
        img {
            width: 80%;
            padding-left: 20px;
            height: auto;
            object-fit: cover;
            padding-top: 100px;
            padding-bottom: 20px;
        }
        .text-materia-prima {
            padding-top: 2px;
            padding-left: 20px;
            padding-right: 16px;
            h2 {
                width: 80%;
                padding-bottom: 20px;
            }
            p {
                width: 80%;
                font-size: 18px;
            }
        }
    }
    
    .buttons-productos{
        flex-direction: column;
        justify-content: center;
        padding-bottom: 80px;
        padding-top: 50px;
        button{
            margin-right: 20px;
            margin-left: 20px;
            margin-bottom: 16px;
        }
    }
    
     /* Mayoristas */

    #mayoristaBanner {
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 200px;
        align-content: center;
        padding-left: 16px;
        padding-right: 16px;
        .text-mayorista-banner {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
                padding-bottom: 30px;
                padding-top: 80px;
                width: 100%;
                text-align: center;
            }
            p {
                padding-bottom: 16px;
                width: 100%;
                text-align: center;
            }
            button {
                width: 70%;
            }
        }
        .img-mayoristas-banner {
            display: flex;
            width: 100%;
            position: relative;
            align-content: center;
            margin-bottom: 300px;
            .celular img{
                width: 35%;
                height: auto;
                object-fit: cover;
                position: absolute;
                top: 100px;
                right: 65%;
                background: none;
                z-index: 200;
            }
            .persona-cajas img{
                width: 70%;
                height: auto;
                object-fit: cover;
                position: absolute;
                top: 80px;
                right: 15%;
                z-index: 20;
            }
            .gif-mayorista img{
                width: 50%;
                height: auto;
                object-fit: cover;
                position: absolute;
                background: none;
                top: 190px;
                right: 2px;
                z-index: 300;
            }
        }
    }
    
    #preguntasMayoristas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: white;
        h2{
            background-color: white;
            padding-bottom: 26px;
            font-size: 28px;
        }
        .preguntas{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            padding: 50px;
            p{
                text-align: center;
                background-color: white;
            }
            h6{
                text-align: center;
                background-color: white;
                padding-bottom: 10px;
            }
            a{
                background-color: white;
                color: black;
            }
        }    
    }
    
    #masPreguntasMayorista{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 200px 16px;
        button{
            margin-left: 0px;
            width: 70%;
            align-self: center;
        }
        h2{
            text-align: center;
            font-size: 32px;
            padding-bottom: 30px;
        }
    }


     /* Preguntas frecuentes */

    .banner-preguntas-frecuentes {
       padding-left: 16px;
       padding-right: 16px;
        h5 {
            padding-bottom: 16px;
        }
        h3 {
            padding-bottom: 20px;
            font-size: 32px;
        }
    }
    
    
    #cierrePreguntasSection{
        background-color: white;
        .cierre-preguntas{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            padding-top: 50px;
            padding-bottom: 50px;
            margin: 0px 16px;
            margin-bottom: 50px;
            border-radius: 20px;
            h6{
                margin-bottom: 20px;
                text-align: center;
                padding-left: 30px;
                padding-right: 30px;
            }
            p{
                margin-bottom: 40px;
                text-align: center;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        
    }


    // Contacto

    .contacto{
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 150px;
        padding-bottom: 150px;
        .contacto-form{
            width: 100%;
            margin-left: 0%;
            h2{
                margin-bottom: 20px;
            }
            .formulario-contacto{
                width: 100%;
            }
            button{
                width: 100%;
                color: white;
            }
        }
        .contacto-foto{
            width: 100%;
            display: flex;
            img{
                width: 100%;
                height: auto;
                margin-top: 60px;
            }
        }
    }

     /* Footer mobile */

    .derechos-reservados {
        width: 100%;
        padding: 18px 16px;
        p {
            font-size: 14px;
            font-weight: 400;
            color: #98A2B3;
        }
    }
    
}